.content-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    min-height: 100vh;
    padding: 12px 17px 12px 17px;
    background-color: #FBFCFD;


}

.heading-container {
    width: 100%;
    max-width: 1066px;
    height: 60px;
    display: flex;
    align-items: center;
   


}

.heading {
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;

}

.date-update-container {
    width: 100%;
    max-width: 1024px;
    height: 44px;
    display: flex;
    margin-top: 7px;
    align-items: center;
    justify-content: space-between;
  
}

.list-item {
    color: #4B5665;
}

.icon {
    height: 25px;
    width: 25px;
    margin-right: 7px;
}

.date-list {
    list-style-type: none;
    display: flex;
    width: 500px;
    padding-left: 0;
}

.container {
    display: flex;
    margin-right: 20px;
} 

.dropdown-list {
    border: none;
    font-size: 14px;
    margin-right: 15px;
    color: #727D87;


}

@media screen and (max-width: 768px) {
    .content-container {
        width: 100%;
    }

    .heading {
        font-size: 27px;
    }
    
    .date-list {
        width: 90%;
    }

    .list-item {
        font-size: 12px;
    }

}

.tools-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    align-items: center;
    list-style-type: none;
   
}

.items {
    background-color: #ffffff;
    border-radius: 4px;
    height: 37px;
    width: 100px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    color: #4B5665;
    padding-left: 9px;
    padding-right: 7px;

}

@media screen and (max-width: 768px) {
    .items {
        width: 50px;
        font-size: 12px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .tools-container {
        width: 95%;
        justify-content: space-evenly;
    }
}

.border {
    border: 2px solid transparent;
    border-radius: 4px;
}

.border:hover {
    border: 2px solid black;
    border-radius: 4px;
}

.hostings-list {
    display: flex;
    list-style-type: none;
    margin-top: 15px;
    color: #5C6874;
    align-items: center;

    
}

.host-icon {
    color: #5C6874;
}

.buildcards-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .hostings-list {
        font-size: 11px;
    }
}

.builder-card {
    display: flex;
    width: 1024px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;

}

@media screen and (max-width: 768px) {
    .builder-card {
        width: 100%;
        flex-direction: column;
        height: 400px;        
    }
}

.related-deals-heading {
    font-family: "Inter";
    font-size: 32px;
    font-weight: 400;
    color: #2C384A;
    margin-bottom: 20px;

}

.related-list-container {
    width: 97%;
    display: flex;
    list-style-type: none;
    background-color: transparent;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 15px 12px 15px;
    margin-bottom: 15px;

}

@media screen and (max-width: 768px) {
    .related-deals-heading {
        margin-bottom: 15px;
        font-size: 25px;
    }

    .related-list-container {
        display: flex;
        flex-direction: column;
        width: 97%;
    }
}

.signup-container {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 15px;

}

.signup-heading {
    color: #5C6874;
    font-size: 32px;
    font-family: "Roboto";
    font-weight: 400;
    width: 400px;
    
}

.signup-btn {
    height: 35px;
    width: 100px;
    color: #ffffff;
    font-size: 14px;
    font-family: "Roboto";
    border: none;
    background-color: #1B88F4;
    border-radius: 0px 12px 12px 0px;
}

@media screen and (max-width: 768px) {
    .signup-heading {
        font-size: 21px;
        width: 200px;
    }
}
